<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload'  %>
<% end %>
<div id="home-page">
    <div id="top" class="Absolute-Center is-Responsive">
        <div class="text-vertical-center">
            <h1>Apartment Walker</h1>
            <h3>Learn More About Your Apartments Neighborhood</h3>
            <br>
            <a class="btn btn-primary" id="signin" href="/login">Sign In or Register</a>
        </div>
    </div>
</div>
